<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  <h1>Welcome to my home page!</h1>
  <div>
    <h2>My three favorite pokemons:</h2>
    <% if (pokemon.length > 0) { %>
      <% pokemon.forEach(pokemon => {%>

    <h3><%= pokemon.name %></h3>
    <p><%= pokemon.type %></p>
    
    <% }); %>
  <% } else { %>
      <p>There are no pokemons to display</p>
    <% } %>    
  </div>
</body>
</html>